---
const hotelesArray = await Astro.glob('../pages/hoteles/*.mdx')
import i18next, { t } from "i18next";
---



<div id="filtro" class="limite">
    <h4>{t("filtro.ordenar")} </h4>
    <hr>
    <ul>
<li>
    <img src="/swimming.png">
    <a href="#" id="playa">
      {t("filtro.playa")}
    </a>
</li>
<li>
    <img src="/sandals.png">
    <a href="#" id="cerca">
      {t("filtro.cerca")}
    </a>
</li>
<li>
    <img src="/car.png">
    <a href="#" id="estacionamiento">
      {t("filtro.estacionamiento")}
    </a>
</li>
<li>
    <img src="/air-conditioning.png">
    <a href="#" id="aire">
      {t("filtro.aire")}
    </a>
</li>
    </ul>
</div>

<style lang="scss">
    @import "../estilos/_variables.scss";  
    
#filtro {
  display: flex;
  flex-wrap: wrap;
  background: $azul;
  padding: 2rem;
  border-radius: $radio;
  margin-top: 2rem;
  h4 {
    flex: 1 0 100%;
    color: $naranja;
    text-align: center;
    font-weight: bold;
  }
  hr {
    flex: 1 0 100%;
    background: $verde;
  }
  ul {
    justify-content: space-evenly;
    flex: 1 0 100%;
    flex-wrap: wrap;
    gap: 2rem;
    display: inherit;
    li {
      display: inherit;
      align-items: center;
      @include cel {
        font-size: 0.8rem;
        flex-wrap: wrap;
        flex: 0 0 39%;
        justify-content: center;
        gap: 0.6rem;
        text-align: center;
      }
    }
  }
  img {
    width: 50px;
    padding: 0.5rem;
  }
  a {
    color: #fff;
  }
  .nara{
    color: $naranja;
  }
}

</style>

<script define:vars={{hotelesArray}}>

window.onload = function(){
  const hoteles = document.querySelector("#hoteles")
}
  
  const playa = document.querySelector("#playa")
  const cerca = document.querySelector("#cerca")
    const estacionamiento = document.querySelector("#estacionamiento")
    const aire = document.querySelector("#aire")
    const ligas = document.querySelectorAll("#filtro ul li a")
    
    const removerNara = (id) =>{
        console.log(id)
        // e.target.classList.remove('nara')
        ligas.forEach(liga => liga === liga.getAttribute("id") ? "" : liga.classList.remove("nara") );
      }

    const filtro = (e) => {
      e.preventDefault()
      const id = e.target.getAttribute("id")
      const hotelfiltrado = []
      // obtengo un array de los hoteles
      switch(id){

        case "playa":
        const conplaya = hotelesArray.filter(hotel => hotel.frontmatter.enlaplaya === "true")
        hotelfiltrado.push(conplaya)
        removerNara(id)
        e.target.classList.add('nara')
        break;
        
        case "cerca":
          const cerca = hotelesArray.filter(hotel => hotel.frontmatter.cerca === "true")
          hotelfiltrado.push(cerca)
          removerNara(id)
          e.target.classList.add('nara')
          break;
          
          case "estacionamiento":
            const estacionamiento = hotelesArray.filter(hotel => hotel.frontmatter.estacionamiento === "true")
            hotelfiltrado.push(estacionamiento)
            removerNara(id)
            e.target.classList.add('nara')
            break;  
            
            case "aire":
              const aire = hotelesArray.filter(hotel => hotel.frontmatter.aire === "true")
              hotelfiltrado.push(aire)
              removerNara(id)
              e.target.classList.add('nara')
        break;

        default:
       
      }
    
      // borro los hoteles

      const hotelesfiltrados = hotelfiltrado[0].map(function(hotel){
        return `
        <div class="hotel">
						<img src=${hotel.frontmatter.imagenprincipal} alt=${hotel.frontmatter.titulo}>
						<div class="bandeja"> 
								<div class="conte">
								<h2>${hotel.frontmatter.titulo}</h2>
							<p>${hotel.frontmatter.extracto} </p>
							<a href=/hoteles/${hotel.frontmatter.slug} class="btnVerde">ver hotel</a>
							</div>
						</div>
					</div>
        `
      } )


       hoteles.innerHTML = hotelesfiltrados
      // filtro con map o alguna funcion de arrays
      // renderizo los hoteles filtrados
    }
    
    playa.addEventListener("click", filtro )
    cerca.addEventListener("click", filtro )
    estacionamiento.addEventListener("click", filtro )
    aire.addEventListener("click", filtro )
  
  </script>