---
import i18next,{ t } from "i18next";
import { Trans } from "astro-i18next/components";
let lang = i18next.language;
// const laruta = `../pages/${lang}/ofertas/*.mdx`

const ofertas = await Astro.glob('../pages/en/ofertas/*.mdx')

// import ImagenOferta from "ofertas.frontmatter.imagenprincipal"
import {Image} from "astro:assets";
---

<div id="ofertas">
    <div class="limite">
        <h2>{t("ofertas.encabezado")}</h2>
        <p>
          <Trans i18nKey="ofertas.parrafo">
            Conoce las <b>ofertas de los hoteles de Zihuatanejo</b> que cada temporada podrás aprovechar para gozar de la playa en tus vacaciones.
          </Trans>
        </p>
    </div>
    <div class="bandeja">
      
    {ofertas.map(oferta => (

     <div class="oferta">

         <Image src={oferta.frontmatter.imagenprincipal} width={600} height={400} alt={oferta.frontmatter.titulo} />
         <div class="bandeja-oferta">
             <h3>{oferta.frontmatter.titulo}</h3>
             <p>{oferta.frontmatter.extracto} </p>
             <a href={`/en/ofertas/${oferta.frontmatter.slug}`} class="btnVerde">Ver oferta</a>
         </div>
     </div>

   	))}


    </div>
</div>


<style lang="scss">
@import "../estilos/_variables.scss";

#ofertas {
  .bandeja {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    margin-top: 2rem;
    padding: 0 2.5rem 2rem;
    gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    &::-webkit-scrollbar {
      width: 10px;
      height: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: $azul;
      border-radius: $radio;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    @include cel {
      grid-auto-columns: 80%;
      padding-right: 1.2rem;
    }
    .oferta {
      scroll-snap-align: end;
      img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        position: relative;
        z-index: -1;
      }
      color: #fff;

      h3 {
        color: $naranja;
        font-weight: bold;
      }
      p {
        padding: 1rem 0;
      }
      .bandeja-oferta {
        background: $azul;
        border-radius: $radio;
        padding: 1.5rem;
        margin-top: -3%;
      }
    }
  }
}

</style>