---
export interface Props {
    whatsapp: string;
    }
    const {whatsapp} = Astro.props
---

<div id="reservaciones" class="limite">
    <img src="/pez-payaso-hoteles-con-encanto.webp" alt="Pez payaso zihuatanejo" id="pez">
    <h3>Reservaciones</h3>
    <form id="reserva">
        <label for="nombre">Nombre*
            <input type="text" id="nombre" placeholder="nombre completo">
        </label>
        <label for="adultos">Numero de adulto*
            <input type="number" id="adultos" placeholder="seleccione">
        </label>
        <label for="adultos">Numero de niños*
            <input type="number" id="ninos" placeholder="menores de 12 años">
        </label>
        <label for="llegada">Fecha de llegada*
            <input type="date" id="llegada" placeholder="seleccione">
        </label>
        <label for="salida">Fecha de salida*
            <input type="date" id="salida" placeholder="seleccione">
        </label>
        <!-- <button id="cotizar" class="btn">cotizar</button> -->
       
        <a href="#" id="cotizar" class="btn desactivado">cotizar</a>
    </form>

    <div id="revision">
        <div class="bandeja">
            <h4>Usted desea cotizar lo siguiente:</h4>
        </div>
       
    </div>

</div>
<style lang="scss">
@import "../estilos/_variables.scss";

#reservaciones{
    background-color: #fff;
    position: relative;
    margin-top: $margen;
    border-radius:$radio;
    padding: $margen;
    display: flex;
    flex-wrap: wrap;
    h3{
        color: $naranja;
        flex: 1 0 100%;
    }
    #reserva{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        flex: 2;
        justify-content: left;
        label{
            flex: 1 0 40%;
            max-width: 40%;
            @include cel {
                flex: 1 0 100%;
                max-width: 100%;
                }
        }
        #cotizar{
            border: none;
            flex: 1 0 40%;
            margin-top: 20px;
            paddin-top: 0;
            text-align: center;
            max-width: 150px;
            max-height: 50px;
            font-weight: bold;
            font-size: .9rem;
        }
    }
    #revision{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        border-left: solid 1px $naranja;
        padding: 2rem;
        h4{
            color: $azul;
            font-weight: bold;
            padding-bottom: 1rem;
            border-bottom: solid 1px $naranja;
        }
        b{
            color: $naranja;
        }
        li{
            list-style: circle;
        }
    }
    #pez{
        position: absolute;
        width: 150px;
        top: -4rem;
        left: 45%;
    }
}
</style>
<script src="/moment-with-locales.min.js" is:inline></script>

<script define:vars={{whatsapp}}>
    // import moment from 'moment-with-locales-es6';
    moment.locale('es')


const revisar = document.querySelector("#revision .bandeja");
//inputs
const nombre = document.getElementById("nombre");
const llegada = document.getElementById("llegada");
const salida = document.getElementById("salida");
const adultos = document.getElementById("adultos");
const ninos = document.getElementById("ninos");
const btncotizar = document.getElementById("cotizar");


//user agent
const ua = navigator.userAgent;

//obtengo los datos de los inputs

//si es cel app si es pc web.app
const actualizar = (e) => {
    e.preventDefault();
    
    if (
        nombre.value === "" ||
        llegada.value === "" ||
        salida.value === "" ||
        adultos.value === "" ||
        ninos.value === ""
        ) {
            console.log("vacio");
        } else {
            btncotizar.classList.remove("desactivado");
        }
        
        //comprobar si es cel o pc
        let whats = "";
        if (/Mobile/i.test(ua)) {
            whats = `https://api.whatsapp.com/send/?phone=${whatsapp}&text=`;
        } else {
            whats = `https://web.whatsapp.com/send/?phone=${whatsapp}&text=`;
        }
        //obtener las noches
        moment.locale("es");
        const llegadaM = moment(llegada.value).format("dddd D MMMM YYYY");
        const salidaM = moment(salida.value).format("dddd D MMMM YYYY");
        
        const mensaje = `
        <hr>
        <h3> Por favor revise los datos para su cotización por whatsapp</h3>
        <hr>
        Name / Nombre: <b> ${nombre.value} </b> <br>
        Numero de adultos: <b> ${adultos.value}</b> </br>
        Numero de niños: <b> ${ninos.value}</b><br>
        Fecha de llegada: <b> ${llegadaM} </b> <br>
        Fecha de Salida: <b> ${salidaM} </b> 
`;

revisar.innerHTML = mensaje;
envio(whats, llegadaM, salidaM);
};

// fin actualizar

const envio = (whats, llegadaM, salidaM) => {
    const url = `
    ${whats}Hola,%20me%20contacto%20desde%20zihuacentro.com,%20deseo%20cotizar:%0aNombre:%20${nombre.value},%0aNo.%20de%20adultos:%20${adultos.value},%0aNo.%20de%20niños:%20${ninos.value}%0aFecha%20de%20Llagada:%20${llegadaM}%0aFecha%20de%20Salida:%20${salidaM}
    %0aComentarios:%20
    `;
    btncotizar.href = url;
};


nombre.addEventListener("focusout", actualizar);
llegada.addEventListener("focusout", actualizar);
salida.addEventListener("focusout", actualizar);
adultos.addEventListener("focusout", actualizar);
ninos.addEventListener("focusout", actualizar);

</script>
